html,body{
  height: 100%;
	margin: 0;
	padding: 0;
  background-color: #f5f5f9;
}
a{
    text-decoration: none !important;
}
p{
    margin: 0;
    padding: 0;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #9b9b9b;
}
input::-webkit-input-placeholder { /* WebKit browsers */  
    color:    #9b9b9b;  
}  
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */  
    color:    #9b9b9b;  
}  
input::-moz-placeholder { /* Mozilla Firefox 19+ */  
    color:    #9b9b9b;  
}  
input:-ms-input-placeholder { /* Internet Explorer 10+ */  
    color:    #9b9b9b;   
}
/************动画--slide***********/
.child-view {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	transition-property: transform,opacity;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
	background-color: #E9EDEF;
	display: flex;
	flex-direction: column;
}
.slide-left-enter {
	transform: translate(100%, 0);
}
.slide-left-enter-active {
	z-index: 10;
}
.slide-left-leave-active {
	z-index: 0;
}
.slide-right-leave-active {
	transform: translate(100%, 0);
	z-index: 11;
}


/********动画--fade*******/
.fade-enter-active, .fade-leave-active {
    transition: opacity .3s;
}
.fade-enter, .fade-leave-to{
    opacity: 0;
}
// element ui 样式修改
// 去掉card底边框
.el-card{
  border-radius: 16px !important;
  .el-card__header{
    border-bottom: none;
  }
}
// form-require hide
.el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap>.el-form-item__label:before, .el-form-item.is-required:not(.is-no-asterisk)>.el-form-item__label:before {
  content: '' !important;
}
// form-error-tips hide
.el-form-item__error{
  display: none;
}
// 设置form-label行高
.el-form-item__label{
  line-height: inherit;
}
.el-input__inner{
  background-color: #E9EDEF;
  border-radius: 25px;
}
.el-button.is-round{
  padding: 12px 23px;
  font-size: 16px;
}
// 设置分割线透明度
.el-divider{
  opacity: .57;
}
// 头部返回按钮
.el-link.el-link--default{
  height: 16px;
  color: #747577;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 16px;
}
// form-label
.el-form--label-top .el-form-item__label{
  font-size: 15px;
  font-family: SFUIDisplay-Regular;
  line-height: 18px;
  padding-bottom: 5px;
  color: #9B9B9B;
}
.van-overlay{
  background: linear-gradient(218deg, rgba(215, 222, 225, 0.58) 0%, rgba(212, 223, 229, 0) 100%);

  .wrapper{
    height: calc( 100% - 140px );
    background: #FFFFFF;
    opacity: 1;
    margin: 60px 18px 80px;
    border-radius: 25px;
  }
}
// 公用样式
.commonBgColor{
  background-color: #E9EDEF;
}
.box-card-pd{
  margin: 15px 18px;
  text-align: center;
}

